{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}

      <!-- begin:: Content -->
      <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
          {% if not savedCard|default(false) %}
            <div class="kt-portlet kt-portlet--tabs col-12 col-sm-12">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title  kt-font-success">
                    {{ 'addCreditCard.card.label2'|trans }}
                  </h3>
                </div>
              </div>
              <div class="kt-portlet__body">
                <form action="#" method="post">
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.type'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <select name="type" id="type" class="form-control custom-select">
                        <option value="1">Visa</option>
                        <option value="2">MasterCard</option>
                        <option value="3">Discover</option>
                        <option value="4">Amerikan Express</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.number'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <input class="form-control" name="number" type="text" value="" placeholder="0000 0000 0000 0000">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.expireDate'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <input class="form-control" name="expire-date" type="text" value="" placeholder="{{ 'addCreditCard.card.expireDateDesc'|trans }}">
                    </div>
                  </div>
                  <button class="btn btn-brand" type="submit">
                    {{ 'addCreditCard.card.add'|trans }}
                  </button>
                </form>
              </div>
            </div>
          {% else %}
            <div class="kt-portlet kt-portlet--tabs col-12 col-sm-5">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title  kt-font-success">
                    {{ 'addCreditCard.card.label'|trans }}
                  </h3>
                </div>
              </div>
              <div class="kt-portlet__body">
                <table class="table table-bordered">
                  <tr>
                    <td>
                      {{ 'addCreditCard.card.type'|trans }}
                    </td>
                    <td>
                      Visa
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ 'addCreditCard.card.number'|trans }}
                    </td>
                    <td>
                      4444 4444 4444 4444
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ 'addCreditCard.card.expireDate'|trans }}
                    </td>
                    <td>
                      12/20
                    </td>
                  </tr>
                </table>


                <button class="btn btn-brand">
                  {{ 'addCreditCard.card.add'|trans }}
                </button>
              </div>
            </div>
            <div class="col-12 col-sm-2"></div>
            <div class="kt-portlet kt-portlet--tabs col-12 col-sm-5">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title  kt-font-success">
                    {{ 'addCreditCard.info.label'|trans }}
                  </h3>
                </div>
              </div>
              <div class="kt-portlet__body">
                {{ 'addCreditCard.info.desc'|trans }}
              </div>
            </div>
            <div class="kt-portlet kt-portlet--tabs col-12 col-sm-5">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title  kt-font-success">
                    {{ 'addCreditCard.card.label2'|trans }}
                  </h3>
                </div>
              </div>
              <div class="kt-portlet__body">
                <form action="#" method="post">
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.type'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <select name="type" id="type" class="form-control custom-select">
                        <option value="1">Visa</option>
                        <option value="2">MasterCard</option>
                        <option value="3">Discover</option>
                        <option value="4">Amerikan Express</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.number'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <input class="form-control" name="number" type="text" value="" placeholder="0000 0000 0000 0000">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label" for="type">
                      {{ 'addCreditCard.card.expireDate'|trans }}
                    </label>
                    <div class="col-lg-9 col-xl-6">
                      <input class="form-control" name="expire-date" type="text" value="" placeholder="{{ 'addCreditCard.card.expireDateDesc'|trans }}">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-brand">
                    {{ 'addCreditCard.card.save'|trans }}
                  </button>
                  <button type="reset" class="btn btn-warning">
                    {{ 'addCreditCard.card.cancel'|trans }}
                  </button>
                </form>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- end:: Content -->

      {% include 'components/footer-base.html.twig' %}
    </div>
  </div>
{% endblock %}
