{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}

      <!-- begin:: Content -->
      <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
          <div class="kt-portlet kt-portlet--tabs col-12 col-auto">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title  kt-font-success">
                  {{ 'addBalance.title'|trans }}
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <form action="#" method="post">
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label">
                    {{ 'addBalance.inputs.total.label'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <input class="form-control" name="price" type="text" value="" placeholder="{{ 'addBalance.inputs.total.desc'|trans }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label" for="method">
                    {{ 'addBalance.inputs.method.label'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <select class="form-control custom-select" name="method" type="text" id="method">
                      <option value="1">Banka Havalesi</option>
                      <option value="2">Kredi Kartı</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="kt-portlet kt-portlet--tabs col-12 col-auto">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title  kt-font-success">
                  {{ 'addBalance.info.label'|trans }}
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              {{ 'addBalance.info.desc'|trans }}
            </div>
          </div>
        </div>
      </div>

      <!-- end:: Content -->

      {% include 'components/footer-base.html.twig' %}
    </div>
  </div>
{% endblock %}
