{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}

    <!-- begin:: Content -->
    <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
      <div class="kt-portlet kt-portlet--tabs">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title  kt-font-success">
              {{ 'tickets.label'|trans }}
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          {% if create|default(false) %}
            <div class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
              <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
              <div class="alert-text">
                {{ 'tickets.alerts.created'|trans }}.
              </div>
              <div class="alert-close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="la la-close"></i></span>
                </button>
              </div>
            </div>
          {% endif %}

          {% if tickets is not defined or (tickets|default({})) is empty %}
            <div class="">
              {{ 'tickets.noTicket'|trans }}. <br> <br>

              <a href="{{ path('create_ticket') }}" class="btn btn-brand">
                {{ 'tickets.create'|trans }}
              </a>
            </div>
          {% else %}
            <table class="table table-bordered custom-table">
              <tr>
                <th>
                  {{ 'tickets.inputs.subject'|trans }}
                </th>
                <th>
                  {{ 'tickets.inputs.status'|trans }}
                </th>
                <th>
                  {{ 'tickets.inputs.department'|trans }}
                </th>
                <th>
                  {{ 'tickets.inputs.date'|trans }}
                </th>
              </tr>
              {% for ticket in tickets|reverse %}
                {% set color = 'success' %}
                {% set status = 'Yeni' %}

                {% if ticket.status == 'WAITING' %}
                  {% set color = 'danger' %}
                  {% set status = 'Cevap Bekleniyor' %}
                {% elseif ticket.status == 'ANSWERED' %}
                  {% set color = 'danger' %}
                  {% set status = 'Cevaplandı' %}
                {% elseif ticket.status == 'CLOSED' %}
                  {% set color = 'error' %}
                  {% set status = 'Kapandı' %}
                {% endif %}

                <tr>
                  <td>
                    <a href="{{ path('view_ticket', {'number': ticket.id}) }}">
                  <span>
                    {{ ticket.subject }}
                  </span>
                    </a>
                  </td>
                  <td>
                  <span class="kt-font-{{ color }} kt-font-hover-{{ color }}">
                    {{ status }}
                  </span>
                  </td>
                  <td>
                    {{ ticket.departmentDesc }}
                  </td>
                  <td>
                    {{ ticket.createdAt|date('d.m.Y') }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- end:: Content -->

    {% include 'components/footer-base.html.twig' %}
  </div>
  </div>
{% endblock %}
