{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    var showAlert = function(elem, message, type) {
      if(!type) {
        type = 'danger'
      }

      $(elem).find('.error-field').html(`
          <div class="alert alert-solid-${type} alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
              <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
              <div class="alert-text">${message}</div>
              <div class="alert-close">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="la la-close"></i></span>
                  </button>
              </div>
          </div>
        `)
    }

    $('#create-new-ticket').on('submit', function (e) {
      e.preventDefault();

      var department = $('#department').val()
      var subject = $('#subject').val()
      var detail = $('#detail').val()

      if(!department) {
        showAlert(this, 'Lütfen department seçin')
        return false;
      }

      if(!subject) {
        showAlert(this, 'Lütfen konu girin')
        return false;
      }

      if(!detail) {
        showAlert(this, 'Lütfen detay girin')
        return false;
      }

      $( this ).ajaxSubmit( {
        error: function() {
          showAlert( this, 'Bir hata meydana geldi' )
        },
        success: function( data ) {
          if(!data.status) {
            showAlert( this, data.message )
          }
          else {
            window.location.href = "{{ absolute_url(path('all_tickets')) }}?create=true"
          }
        }
      } )

      return true;
    })
  </script>
{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}

      <!-- begin:: Content -->
      <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="row">
          <form action="{{ path('post_ticket') }}" method="post" class="col-12 col-sm-12" id="create-new-ticket" enctype="multipart/form-data">
            <div class="kt-portlet kt-portlet--tabs">
              <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                  <h3 class="kt-portlet__head-title  kt-font-success">
                    {{ 'createTicket.label'|trans }}
                  </h3>
                </div>
              </div>
              <div class="kt-portlet__body">
                <div class="error-field"></div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label" for="department">
                    {{ 'createTicket.department'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <select name="department" id="department" class="custom-select form-control">
                      <option value="">Lütfen department seçin</option>
                      <option value="10">Teknik Destek</option>
                      <option value="20">Satış</option>
                      <option value="30">Muhasebe</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label" for="subject">
                    {{ 'createTicket.subject'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <input type="text" class="form-control" name="subject" id="subject">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label" for="detail">
                    {{ 'createTicket.detail'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <textarea type="text" class="form-control" name="detail" id="detail" rows="8"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-3 col-lg-3 col-form-label" for="method">
                    {{ 'createTicket.file'|trans }}
                  </label>
                  <div class="col-lg-9 col-xl-6">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" name="file[]" multiple>
                      <label class="custom-file-label" for="file">{{ 'createTicket.file'|trans }}</label>
                    </div>
                  </div>
                </div>
                <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                <div class="kt-form__actions">
                  <button type="submit" class="btn btn-brand">
                    {{ 'createTicket.send'|trans }}
                  </button>
                  <button type="submit" class="btn btn-warning">
                    {{ 'createTicket.cancel'|trans }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- end:: Content -->

      {% include 'components/footer-base.html.twig' %}
    </div>
  </div>
{% endblock %}
