{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}

      <!-- begin:: Content -->
      <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title  kt-font-success">
                {{ 'invoice.title'|trans }}
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <table class="table table-bordered custom-table">
              <tr>
                <th>
                  {{ 'invoice.number'|trans }}
                </th>
                <th>
                  {{ 'invoice.total'|trans }}
                </th>
                <th>
                  {{ 'invoice.invoiceDate'|trans }}
                </th>
                <th>
                  {{ 'invoice.paymentDate'|trans }}
                </th>
                <th>
                  {{ 'invoice.status'|trans }}
                </th>
              </tr>
              <tr>
                <td>
                  #185136
                </td>
                <td>
                  250.00 ₺
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  <span class="kt-font-success">
                    Ödenmiş
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  #185136
                </td>
                <td>
                  250.00 ₺
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  <span class="kt-font-danger">
                    Ödenmedi
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  #185136
                </td>
                <td>
                  250.00 ₺
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  09/25/2018
                </td>
                <td>
                  <span class="kt-font-error">
                    İptal edildi
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- end:: Content -->

      {% include 'components/footer-base.html.twig' %}
    </div>
  </div>
{% endblock %}
