{% extends '@EasyAdmin/default/list.html.twig' %}

{% block item_actions %}
    {% set _list_item_actions = _list_item_actions %}
    {{ parent() }}
{% endblock item_actions %}

{% block search_form %}
    <input type="hidden" name="action" value="search">
    <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
    <input type="hidden" name="sortField"
           value="{{ _entity_config.search.sort.field|default(_request_parameters.sortField) }}">
    <input type="hidden" name="sortDirection"
           value="{{ _entity_config.search.sort.direction|default(_request_parameters.sortDirection) }}">
    <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
    <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">

    <div class="input-group">


        <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
        <span class="input-group-btn">
                                                <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                                    <i class="fa fa-search"></i>
                                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                                </button>
                                            </span>
    </div>
{% endblock %}

{% block global_actions %}
    {{ parent() }}
    {% if easyadmin_action_is_enabled_for_list_view('export', _entity_config.name) %}
        <div class="button-action">
            <a class="btn btn-primary" href="{{ path('easyadmin', _request_parameters|merge({ action: 'export' })) }}">
                <i class="fa fa-download"></i>
                Export
            </a>
        </div>
    {% endif %}
{% endblock global_actions %}