{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/login-page.css') }}">
{% endblock %}

{% block bodyCustomClass %}{% spaceless %}
  kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize
{% endspaceless %}{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('build/js/customs/turkishLowerAndUpper.js') }}" type="text/javascript"></script>
  <script src="{{ asset('build/js/vendors/general/country-selector.js') }}" type="text/javascript"></script>
  <script>
    var showAlert = function( elem, message, type ) {
      if(!type) {
        type = 'danger'
      }

      $( elem ).find( '.error-field' ).html( `
          <div class="alert alert-solid-${type} alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
              <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
              <div class="alert-text">${message}</div>
              <div class="alert-close">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true"><i class="la la-close"></i></span>
                  </button>
              </div>
          </div>
        ` )
    }
    $( '#change_password' ).on( 'submit', function( e ) {
      e.preventDefault();

      var isValid = true;
      var currentPassword = $( this ).find( '#currentPass' ).val()
      var newPassword = $( this ).find( '#newPassword' ).val()
      var newPasswordVerify = $( this ).find( '#newPasswordVerify' ).val()

      if(!currentPassword.length) {
        isValid = false;

        showAlert( this, 'Lütfen mevcut şifrenizi girin' )
      }

      if(newPassword !== newPasswordVerify) {
        isValid = false;

        showAlert( this, 'Yeni şifreler uyuşmuyor' )
      }

      if(isValid) {
        $( this ).ajaxSubmit( {
                                error: function() {
                                  isValid = false

                                  showAlert( this, 'Yeni şifreler uyuşmuyor' )
                                },
                                success: function( data ) {
                                  if(!data.status) {
                                    showAlert( this, data.message )
                                  } else {
                                    showAlert( this, 'Şifreniz başarıyla güncellendi' )
                                  }
                                }
                              } )
      }

      return isValid;
    } )

    $( '#country' ).on( 'change', function() {
      if($( this ).val() === 'TR') {
        $.getJSON( "{{ asset('sources/il-bolge.json') }}", function( sonuc ) {
          $.each( sonuc, function( index, value ) {
            var row = "";
            var plaka = value.plaka
            var il = value.il.charAt( 0 ).turkishToUpper() + value.il.turkishToLower().slice( 1 )
            row += '<option data-value="' + plaka + '" value="' + il + '">' + il + '</option>';
            $( "#city" ).append( row );

            if($( '#selectedCity' ).length && $( '#selectedCity' ).val() !== '') {
              $( '#city' ).find( 'option[value="' + $( '#selectedCity' ).val() + '"]' ).attr( 'selected', true )
              $( '#city' ).trigger( 'change' )
            }
          } )
        } );

        $( "#city" ).on( "change", function() {
          var plaka = $( this ).find( 'option:selected' ).attr( 'data-value' );

          $( "#town" ).attr( "disabled", false ).html( "<option value=''>Seçin..</option>" );
          $.getJSON( "{{ asset('sources/il-ilce.json') }}", function( sonuc ) {
            $.each( sonuc, function( index, value ) {
              var row = "";

              if(value.plaka === +( plaka )) {
                var ilce = value.ilce.charAt( 0 ).turkishToUpper() + value.ilce.turkishToLower().slice( 1 )
                row += '<option value="' + ilce + '">' + ilce + '</option>';
                $( "#town" ).append( row );

                if($( '#selectedTown' ).length && $( '#selectedTown' ).val() !== '') {
                  $( '#town' ).find( 'option[value="' + $( '#selectedTown' ).val() + '"]' ).attr( 'selected', true )
                }
              }
            } );
          } );
        } );

        $( "#city" ).parent().parent().show()
        $( "#town" ).parent().parent().show()
      } else {
        $( "#city" ).parent().parent().hide()
        $( "#town" ).parent().parent().hide()
      }
    } )

    $( '#country' ).trigger( 'change' )
  </script>
{% endblock %}

{% block content %}
  <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
    {% include 'components/aside-base.html.twig' %}

    {% include 'components/header-base.html.twig' %}
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <!-- begin:: Content Head -->
      <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
          <div class="kt-subheader__group" id="kt_subheader_search">
            <span class="kt-subheader__desc" id="kt_subheader_total">
              {{ user.fullName|default('') }}
            </span>
          </div>
        </div>
        <div class="kt-subheader__toolbar">
          <a href="#" class="btn btn-default btn-bold">
            {{ 'profileEdit.back'|trans }}
          </a>
          <div class="btn-group">
            <button type="button" class="btn btn-brand btn-bold">
              {{ 'profileEdit.saveChanges'|trans }}
            </button>
            <button type="button"
                    class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <ul class="kt-nav">
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-writing"></i>
                    {{ 'profileEdit.saveChanges'|trans }}
                    <span class="kt-nav__link-text">
                    {{ 'profileEdit.saveAndContinue'|trans }}
                    </span>
                  </a>
                </li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                    <span class="kt-nav__link-text">
                      {{ 'profileEdit.saveAndNew'|trans }}
                    </span>
                  </a>
                </li>
                <li class="kt-nav__item">
                  <a href="#" class="kt-nav__link">
                    <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                    <span class="kt-nav__link-text">
                      {{ 'profileEdit.saveAndExit'|trans }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- end:: Content Head -->

      <!-- begin:: Content -->
      <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <div class="kt-portlet kt-portlet--tabs">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-toolbar">
              <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand"
                  role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab">
                    {{ 'profileEdit.profileInfo.label'|trans }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_3" role="tab">
                    {{ 'profileEdit.changePassword.label'|trans }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_2" role="tab">
                    {{ 'profileEdit.ipFilter.label'|trans }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_4" role="tab">
                    {{ 'profileEdit.emailHistory.label'|trans }}
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_5" role="tab">
                    {{ 'profileEdit.processHistory.label'|trans }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="tab-content">
              <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                <div class="kt-form kt-form--label-right">
                  <form action="/" method="post" id="update-user">
                    <div class="kt-form__body">
                      <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                          <div class="error-field"></div>
                          <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-lg">
                                {{ 'profileEdit.profileInfo.title'|trans }}:
                              </h3>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.profileInfo.inputs.fullName'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <input class="form-control" name="fullName" type="text" value="{{ user.fullName }}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.profileInfo.inputs.email'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="la la-at"></i>
                                  </span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       name="email"
                                       value="{{ user.email }}"
                                       placeholder="{{ 'profileEdit.profileInfo.inputs.email'|trans }}"
                                       aria-describedby="basic-addon1">
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.profileInfo.inputs.phone'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="la la-phone"></i>
                                  </span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       value="{{ user.phoneNumber }}"
                                       placeholder="{{ 'profileEdit.profileInfo.inputs.phone'|trans }}"
                                       aria-describedby="basic-addon1"
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="kt-section kt-section--second">
                        <div class="kt-section__body">
                          <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-lg">
                                {{ 'profileEdit.profileInfo.title2'|trans }}:
                              </h3>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.profileInfo.inputs.address'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <input class="form-control" name="address" type="text" value="{{ user.address }}">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label" for="country">
                              {{ 'profileEdit.profileInfo.inputs.country'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <select class="form-control custom-select"
                                      name="country"
                                      id="country"
                                      value="{{ user.country|default('') }}"
                                      data-role="country-selector"
                                      data-code-mode="alpha2"
                              ></select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label" for="city">
                              {{ 'profileEdit.profileInfo.inputs.city'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <select class="form-control custom-select" name="city" id="city"></select>
                              <input type="hidden" name="selectedCity" value="{{ user.city }}" id="selectedCity">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label" for="town">
                              {{ 'profileEdit.profileInfo.inputs.town'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <select class="form-control custom-select" name="town" id="town" type="text"></select>
                              <input type="hidden" name="selectedTown" value="{{ user.town }}" id="selectedTown">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                    <div class="kt-form__actions">
                      <div class="row">
                        <div class="col-xl-3"></div>
                        <div class="col-lg-9 col-xl-6">
                          <button type="submit" class="btn btn-label-brand btn-bold">
                            {{ 'profileEdit.saveChanges'|trans }}
                          </button>
                          <button type="reset" class="btn btn-clean btn-bold">
                            {{ 'loginPage.register.cancel'|trans }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane" id="kt_apps_user_edit_tab_2" role="tabpanel">
                <div class="kt-form kt-form--label-right">
                  <div class="kt-form__body">
                    <div class="row">
                      <div class="kt-section kt-section--first col-sm-5">
                        <div class="kt-section__body">
                          <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-lg">
                                {{ 'profileEdit.ipFilter.title1'|trans }}
                              </h3>
                              <p>{{ 'profileEdit.ipFilter.desc1'|trans }}</p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.ipFilter.inputs.ipBlock'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <div class="kt-spinner kt-spinner--sm kt-spinner--input">
                                <input class="form-control"
                                       name="block-ip"
                                       type="text"
                                       value=""
                                       placeholder="{{ 'profileEdit.ipFilter.inputs.ipBlock'|trans }}">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-2"></div>
                      <div class="kt-section kt-section--last col-sm-5">
                        <div class="kt-section__body"></div>
                        <table class="table">
                          <thead>
                          <tr>
                            <th align="left">{{ 'profileEdit.ipFilter.inputs.blockedIps'|trans }}</th>
                            <th align="left">{{ 'profileEdit.ipFilter.inputs.actions'|trans }}</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td scope="2">127.0.0.1</td>
                            <td>
                              <button class="btn btn-label-brand btn-bold" type="button" data-id="1">
                                Sil
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td scope="2">127.0.0.2</td>
                            <td>
                              <button class="btn btn-label-brand btn-bold" type="button" data-id="2">
                                Sil
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="kt-section kt-section__buttons col-12">
                        <div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
                        <div class="kt-form-group">
                          <div class="row">
                            <div class="col-xl-3"></div>
                            <div class="col-lg-9 col-xl-6">
                              <a href="#" class="btn btn-label-brand btn-bold">
                                {{ 'profileEdit.saveChanges'|trans }}
                              </a>
                              <a href="#" class="btn btn-clean btn-bold">
                                {{ 'loginPage.register.cancel'|trans }}
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="kt_apps_user_edit_tab_3" role="tabpanel">
                <div class="kt-form kt-form--label-right">
                  <form action="{{ path('user_change_password') }}" method="post" id="change_password">
                    <div class="kt-form__body">
                      <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                          <div class="error-field"></div>
                          <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-lg">
                                {{ 'profileEdit.changePassword.currentPass'|trans }}
                              </h3>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.changePassword.inputs.currentPass'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <input type="password"
                                     class="form-control"
                                     value=""
                                     placeholder="{{ 'profileEdit.changePassword.inputs.currentPass'|trans }}"
                                     name="currentPass" id="currentPass" autocomplete="current-password">
                            </div>
                          </div>
                          <div class="row">
                            <label class="col-xl-3"></label>
                            <div class="col-lg-9 col-xl-6">
                              <h3 class="kt-section__title kt-section__title-lg">
                                {{ 'profileEdit.changePassword.newPass'|trans }}
                              </h3>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.changePassword.inputs.newPass'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <input type="password"
                                     class="form-control"
                                     id="newPassword"
                                     name="newPassword"
                                     value=""
                                     placeholder="{{ 'profileEdit.changePassword.inputs.newPass'|trans }}"
                                     autocomplete="new-password"
                              >
                            </div>
                          </div>
                          <div class="form-group form-group-last row">
                            <label class="col-xl-3 col-lg-3 col-form-label">
                              {{ 'profileEdit.changePassword.inputs.newPassConfirm'|trans }}
                            </label>
                            <div class="col-lg-9 col-xl-6">
                              <input type="password"
                                     class="form-control"
                                     value=""
                                     name="newPasswordVerify"
                                     id="newPasswordVerify"
                                     placeholder="{{ 'profileEdit.changePassword.inputs.newPass'|trans }}"
                                     autocomplete="new-password"
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="kt-separator kt-separator--space-lg kt-separator--fit kt-separator--border-solid"></div>
                    <div class="kt-form__actions">
                      <div class="row">
                        <div class="col-xl-3"></div>
                        <div class="col-lg-9 col-xl-6">
                          <button type="submit" class="btn btn-label-brand btn-bold">
                            {{ 'profileEdit.saveChanges'|trans }}
                          </button>
                          <button type="reset" class="btn btn-clean btn-bold">
                            {{ 'loginPage.register.cancel'|trans }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane" id="kt_apps_user_edit_tab_4" role="tabpanel">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <div class="row">
                      <label class="col-xl-3"></label>
                      <div class="col-lg-9 col-xl-6">
                        <h3 class="kt-section__title kt-section__title-lg">
                          {{ 'profileEdit.emailHistory.title'|trans }}
                        </h3>
                        <p>
                          {{ 'profileEdit.emailHistory.desc'|trans }}
                        </p>
                      </div>
                    </div>

                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th align="left">{{ 'profileEdit.emailHistory.inputs.subject'|trans }}</th>
                        <th align="left">{{ 'profileEdit.emailHistory.inputs.sendedTime'|trans }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td scope="2">Yeni sipariş verildi. #1554443651</td>
                        <td>09/19/2018 09:23:14</td>
                      </tr>
                      <tr>
                        <td scope="2">Yeni sipariş verildi. #1554443651</td>
                        <td>09/19/2018 09:23:14</td>
                      </tr>

                      <tr>
                        <td scope="2">Yeni sipariş verildi. #1554443651</td>
                        <td>09/19/2018 09:23:14</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="kt_apps_user_edit_tab_5" role="tabpanel">
                <div class="kt-section kt-section--first">
                  <div class="kt-section__body">
                    <div class="row">
                      <label class="col-xl-3"></label>
                      <div class="col-lg-9 col-xl-6">
                        <h3 class="kt-section__title kt-section__title-lg">
                          {{ 'profileEdit.processHistory.title'|trans }}
                        </h3>
                        <p>
                          {{ 'profileEdit.processHistory.desc'|trans }}
                        </p>
                      </div>
                    </div>

                    <table class="table">
                      <thead>
                      <tr>
                        <th align="left">{{ 'profileEdit.processHistory.inputs.date'|trans }}</th>
                        <th align="left">{{ 'profileEdit.processHistory.inputs.processInfo'|trans }}</th>
                        <th align="left">{{ 'profileEdit.processHistory.inputs.status'|trans }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td scope="2">09/19/2018 09:23:14</td>
                        <td>Yeni sipariş verildi. #1554443651</td>
                        <td>
                          <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill kt-badge--md">
                            {{ 'profileEdit.processHistory.inputs.success'|trans }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td>09/19/2018 09:23:14</td>
                        <td>Yeni sipariş verildi. #1554443651</td>
                        <td>
                          <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill kt-badge--md">
                            {{ 'profileEdit.processHistory.inputs.waiting'|trans }}
                          </span>
                        </td>
                      </tr>

                      <tr>
                        <td>09/19/2018 09:23:14</td>
                        <td>Yeni sipariş verildi. #1554443651</td>
                        <td>
                          <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--md">
                            {{ 'profileEdit.processHistory.inputs.cancelled'|trans }}
                          </span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end:: Content -->

      {% include 'components/footer-base.html.twig' %}
    </div>
  </div>
{% endblock %}
