<!-- begin:: Aside -->
<button class="kt-aside-close" id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div class="kt-aside kt-aside--fixed kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
  <!-- begin:: Aside Menu -->
  <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu"
         class="kt-aside-menu"
         data-ktmenu-vertical="1"
         data-ktmenu-scroll="1"
         data-ktmenu-dropdown-timeout="500"
    >
      <ul class="kt-menu__nav">
        <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-layers"></i>
            <span class="kt-menu__link-text">{{ 'aside.dashboard'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-pie-chart"></i>
            <span class="kt-menu__link-text">{{ 'aside.hosting'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-computer"></i>
            <span class="kt-menu__link-text">{{ 'aside.server'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-mail-1"></i>
            <span class="kt-menu__link-text">{{ 'aside.email'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-network"></i>
            <span class="kt-menu__link-text">{{ 'aside.cdn'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-globe"></i>
            <span class="kt-menu__link-text">{{ 'aside.ssl'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-security"></i>
            <span class="kt-menu__link-text">{{ 'aside.security'|trans }}</span>
          </a>
        </li>
        <li class="kt-menu__item kt-menu__item" aria-haspopup="true">
          <a href="{{ path('homepage') }}" class="kt-menu__link">
            <i class="kt-menu__link-icon flaticon-avatar"></i>
            <span class="kt-menu__link-text">{{ 'aside.settings'|trans }}</span>
          </a>
        </li>

        <li class="kt-menu__item kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
          <span class="kt-menu__link kt-menu__toggle">
            <i class="kt-menu__link-icon flaticon-list-2"></i>
            <span class="kt-menu__link-text">{{ 'aside.invoice.title'|trans }}</span>
            <span class="kt-menu__link-badge">
              <span class="kt-badge kt-badge--brand">2</span>
            </span>
            <i class="kt-menu__ver-arrow la la-angle-right"></i>
          </span>
          <div class="kt-menu__submenu" kt-hidden-height="160" style="display: none; overflow: hidden;">
            <span class="kt-menu__arrow"></span>
            <ul class="kt-menu__subnav">
              <li class="kt-menu__item" aria-haspopup="true">
                <a href="{{ path('invoice') }}" class="kt-menu__link">
                  <span class="kt-menu__link-text">{{ 'aside.invoice.myInvoices'|trans }}</span>
                </a>
              </li>
              <li class="kt-menu__item" aria-haspopup="true">
                <span class="kt-menu__link">
                  <span class="kt-menu__link-text">{{ 'aside.invoice.addBalance'|trans }}</span>
                </span>
              </li>
              <li class="kt-menu__item" aria-haspopup="true">
                <span class="kt-menu__link">
                  <span class="kt-menu__link-text">{{ 'aside.invoice.addCreditCard'|trans }}</span>
                </span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end:: Aside Menu -->
</div>
<!-- end:: Aside -->
